body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  border-radius: 80px;
}

.body {
  padding: 1%;
  text-align: center;
}
.searchable {
  width: 20%;
  margin: 0 3px -41px 26%;
}

.dataTable {
  margin-top: 5%;
}

.rdt_TableHeadRow {
  background-color: #4e52cc !important;
  border-radius: 6px;
}

.rdt_TableCol {
  color: #ffff !important;
  font-size: 16px !important;
}